@page
@using WebApplication1.Pages;
@model IndexModel
<th>

</th>
@foreach (var item in Model.ShowToDoModels)
{
    <tr>
        
        <td>
            @Html.DisplayFor(item.)<br />
        </td>
        <td>
            @Html.DisplayFor(item => item.)<br />
        </td>
        <td>
            @Html.DisplayFor(item => item.)<br />
        </td>

    </tr>
}

